* {
    text-align: center;
}

body {
    text-decoration: none;
}

img {
    width: 130px;
    padding: 5px;
    cursor: pointer;
}

.box {
    margin-top: 20px;
}

.cookies {
    padding: 10px;
}

span {
    font-weight: bold;
}
